<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='small-12 columns'>
          <nav>
            <ul>
              <li><%= link_to 'main app test', main_app.test_path %></li>
              <li><%= link_to 'test', test_path %></li>
              <li><%= link_to 'asdf', asdf_path %></li>
            </ul>
          </nav>

          <div id='main'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
